<img class="img-fluid" [src]="'data:image/jpeg;base64,' + code?.fileToDispaly">
<!--<h2 class="text-center my-3"> Menu  </h2>
<div class="container">

  <div class="row  mt-3">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">menu</div>
        <div class="card-body">
            <div class="form-group">
              <h5>Name of menu : {{name}}</h5>
            </div>

            <div class="row center">

            </div>
        </div>
      </div>
    </div>
    &lt;!&ndash;Row with two columns divided in 1:3 ratio&ndash;&gt;
  </div>
</div>-->
