<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="!showMenu">
  <a class="navbar-brand pointerCursor" (click)="goToCodes()"><img src="assets/Website-Icon.png" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" *ngIf="!logoutBtn">
        <a class="nav-link pointerCursor" (click)="goToCodes()">{{'home' | translate}} <span class="sr-only">(current)</span></a>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link pointerCursor" (click)="goToCodes()">{{'customerService' | translate}}</a>
      </li>-->


    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0 btnMargin"
              *ngIf="!logoutBtn" type="submit" (click)="logout()">{{'logout' | translate}}</button>
      <select
        class="form-control my-2 my-sm-0"
        #selectedLang
        (change)="switchLang(selectedLang.value)">
        <option *ngFor="let language of translate.getLangs()"
                [value]="language"
                [selected]="language === translate.currentLang">
          {{ language }}
        </option>
      </select>
      <button class="btn my-2 my-sm-0 btnMargin"
              *ngIf="!logoutBtn" type="submit" (click)="profile()">{{'profile' | translate}}</button>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>
