<!--<div class="main-w3layouts wrapper">
  <h1>{{'signUp' | translate}}</h1>
  <div class="main-agileinfo">
    <div class="agileits-top">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <input type="text" formControlName="username" class="form-control"  [ngClass]="{ 'is-invalid': submitted &&
              f.username.errors }" [placeholder]="'Username' | translate"/>
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">{{'userNameIsRequired' | translate}}</div>
          </div>
        </div>

        <div class="form-group">
          <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted &&
           f.email.errors }" [placeholder]="'Email' | translate"/>
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">{{'emailIsRequired' | translate}}</div>
                <div *ngIf="f.email.errors.email">{{'emailIsNotValid' | translate}}</div>
          </div>
        </div>

        <div class="form-group">
          <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted
            && f.password.errors }" [placeholder]="'password' | translate"/>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">{{'passwordIsRequired' | translate}}</div>
                <div *ngIf="f.password.errors.minlength">{{'passwordLenght' | translate}}</div>
          </div>
        </div>

        <div class="form-group">
          <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted
            && f.confirmPassword.errors }" [placeholder]="'confirmPassword' | translate"/>
          <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">{{'passwordIsRequired' | translate}}</div>
                <div *ngIf="f.confirmPassword.errors.minlength">{{'passwordLenght' | translate}}</div>
                <div *ngIf="f.confirmPassword.errors.confirmedValidator">{{'passwordDoesNotMuch' | translate}}</div>
          </div>
        </div>

        <div class="form-group">
          <input type="text" formControlName="companyName" class="form-control" [ngClass]="{ 'is-invalid': submitted
            && f.companyName.errors }" [placeholder]="'companyName' | translate"/>
          <div *ngIf="submitted && f.companyName.errors" class="invalid-feedback">
                <div *ngIf="f.companyName.errors.required">{{'companyNameIsRequired' | translate}}</div>
          </div>
        </div>

        <div class="form-group">
          <input type="text" formControlName="commercialRegistrationNo" class="form-control" [ngClass]="{ 'is-invalid': submitted
            && f.commercialRegistrationNo.errors }" [placeholder]="'commercialRegistrationNo' | translate"/>
          <div *ngIf="submitted && f.commercialRegistrationNo.errors" class="invalid-feedback">
                <div *ngIf="f.commercialRegistrationNo.errors.required">{{'commercialRegistrationIsRequired' | translate}}</div>
          </div>
        </div>

        <div class="form-group">
          <button class="loginBtn" type="submit">{{'signUp' | translate}}
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          </button>
        </div>

      </form>
    </div>
  </div>

  <ul class="colorlib-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div-->

<div class="limiter">
  <div class="container-login100">
    <div class="login100-more" style="background-image: url('../../assets/bg-01.png');"></div>

    <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
      <form class="login100-form validate-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
					<span class="login100-form-title p-b-59">
						Sign Up
					</span>

        <div class="wrap-input100 validate-input form-group">
          <span class="label-input100">Username</span>
          <input class="input100" type="text" name="name" placeholder="Name..." formControlName="username"
                 [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">{{'userNameIsRequired' | translate}}</div>
          </div>
        </div>

        <div class="wrap-input100 validate-input">
          <span class="label-input100">Email</span>
          <input class="input100" type="email" name="email" placeholder="Email addess..." formControlName="email"
                 [ngClass]="{ 'is-invalid': submitted &&f.email.errors }">
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">{{'emailIsRequired' | translate}}</div>
            <div *ngIf="f.email.errors.email">{{'emailIsNotValid' | translate}}</div>
          </div>
        </div>

        <div class="wrap-input100 validate-input">
          <span class="label-input100">Password</span>
          <input class="input100" type="password" formControlName="password" name="pass" placeholder="*************"
                 [ngClass]="{ 'is-invalid': submitted
            && f.password.errors }">
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">{{'passwordIsRequired' | translate}}</div>
            <div *ngIf="f.password.errors.minlength">{{'passwordLenght' | translate}}</div>
          </div>
        </div>

        <div class="wrap-input100 validate-input">
          <span class="label-input100">Repeat Password</span>
          <input class="input100" type="password" formControlName="confirmPassword" name="repeat-pass"
                 placeholder="*************" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
          <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
            <div *ngIf="f.confirmPassword.errors.required">{{'passwordIsRequired' | translate}}</div>
            <div *ngIf="f.confirmPassword.errors.minlength">{{'passwordLenght' | translate}}</div>
            <div *ngIf="f.confirmPassword.errors.confirmedValidator">{{'passwordDoesNotMuch' | translate}}</div>
          </div>
        </div>

        <div class="wrap-input100 validate-input">
          <span class="label-input100">Company name</span>
          <input class="input100" type="text" formControlName="companyName" name="companyName"
                 placeholder="Company name" [ngClass]="{ 'is-invalid': submitted && f.companyName.errors }">
          <div *ngIf="submitted && f.companyName.errors" class="invalid-feedback">
            <div *ngIf="f.companyName.errors.required">{{'companyNameIsRequired' | translate}}</div>
          </div>
        </div>

        <div class="wrap-input100 validate-input">
          <span class="label-input100">Commercial Registration No</span>
          <input class="input100" type="text" formControlName="commercialRegistrationNo" name="commercialRegistrationNo"
                 placeholder="Commercial Registration No" [ngClass]="{ 'is-invalid': submitted && f.commercialRegistrationNo.errors }">
          <div *ngIf="submitted && f.commercialRegistrationNo.errors" class="invalid-feedback">
            <div *ngIf="f.commercialRegistrationNo.errors.required">{{'commercialRegistrationIsRequired' | translate}}</div>
          </div>
        </div>

        <div class="flex-m w-full p-b-33">
          <div class="contact100-form-checkbox">
            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
            <label class="label-checkbox100" for="ckb1">
								<span class="txt1">
									I agree to the
									<a href="#" class="txt2 hov1">
										Terms of User
									</a>
								</span>
            </label>
          </div>


        </div>

        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn" type="submit">Sign Up</button>
          </div>

          <a (click)="login()" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30 cursorBtn">
            Sign in
            <i class="fa fa-long-arrow-right m-l-5"></i>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
