<div class="main-w3layouts wrapper">
  <h1>{{'signUp' | translate}}</h1>
  <div class="main-agileinfo">
    <div class="agileits-top">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <input type="text" formControlName="username" class="form-control"  [ngClass]="{ 'is-invalid': submitted &&
              f.username.errors }" [placeholder]="'Username' | translate"/>
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">{{'userNameIsRequired' | translate}}</div>
          </div>
        </div>

        <div class="form-group">
          <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted &&
           f.email.errors }" [placeholder]="'Email' | translate"/>
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">{{'emailIsRequired' | translate}}</div>
                <div *ngIf="f.email.errors.email">{{'emailIsNotValid' | translate}}</div>
          </div>
        </div>

        <div class="form-group">
          <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted
            && f.password.errors }" [placeholder]="'password' | translate"/>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">{{'passwordIsRequired' | translate}}</div>
                <div *ngIf="f.password.errors.minlength">{{'passwordLenght' | translate}}</div>
          </div>
        </div>

        <div class="form-group">
          <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted
            && f.confirmPassword.errors }" [placeholder]="'confirmPassword' | translate"/>
          <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">{{'passwordIsRequired' | translate}}</div>
                <div *ngIf="f.confirmPassword.errors.minlength">{{'passwordLenght' | translate}}</div>
                <div *ngIf="f.confirmPassword.errors.confirmedValidator">{{'passwordDoesNotMuch' | translate}}</div>
          </div>
        </div>

        <div class="form-group">
          <input type="text" formControlName="companyName" class="form-control" [ngClass]="{ 'is-invalid': submitted
            && f.companyName.errors }" [placeholder]="'companyName' | translate"/>
          <div *ngIf="submitted && f.companyName.errors" class="invalid-feedback">
                <div *ngIf="f.companyName.errors.required">{{'companyNameIsRequired' | translate}}</div>
          </div>
        </div>

        <div class="form-group">
          <input type="text" formControlName="commercialRegistrationNo" class="form-control" [ngClass]="{ 'is-invalid': submitted
            && f.commercialRegistrationNo.errors }" [placeholder]="'commercialRegistrationNo' | translate"/>
          <div *ngIf="submitted && f.commercialRegistrationNo.errors" class="invalid-feedback">
                <div *ngIf="f.commercialRegistrationNo.errors.required">{{'commercialRegistrationIsRequired' | translate}}</div>
          </div>
        </div>

        <div class="form-group">
          <button class="loginBtn" type="submit">{{'signUp' | translate}}
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          </button>
        </div>

      </form>
    </div>
  </div>

  <ul class="colorlib-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>

